Show some summaries of the example data

In [3]:
import os
import pandas as pd

foldername = "test_data"
filename_peqt = os.path.join(foldername, "PEQT_example.feather")
filename_elt = os.path.join(foldername, "ELT_example.feather")
filename_pelt = os.path.join(foldername, "PELT_example.feather")

In [4]:
## PEQT summary
%time peqt = pd.read_feather(filename_peqt)
print(f"{len(peqt):,.0f} rows")
display(peqt.head())

display((peqt.count().rename('Number Valid Entries').to_frame()
         .style.format("{:,d}")))
display((peqt[['PeriodIndex', 'EventId', 'RepNum']].nunique()
         .rename('Number Unique Vals').to_frame()
         .style.format("{:,d}")))
display((peqt['LossQuantile'].describe().drop('count')
         .rename('LossQuantile Stats').to_frame()
         .style.format("{:.2f}")))

Wall time: 686 ms
9,259,938 rows

   PeriodIndex  EventId           EventDate  RepNum  LossQuantile
0            1  1510002 2013-04-16 16:38:48       1      0.148516
1            1  1510008 2013-05-30 13:40:38       1      0.512657
2            1  1510011 2013-04-14 12:12:47       1      0.535263
3            1  1510011 2013-07-11 13:26:08       2      0.754850
4            1  1510014 2013-04-20 18:05:44       1      0.103763

In [15]:
## ELT summary
elt = pd.read_feather(filename_elt)
print(f"{len(elt):,.0f} rows")
display(elt.head())

display((elt.count().rename('Number Valid Entries').to_frame()
         .style.format("{:,d}")))
display((elt[['EVENTID']].nunique()
         .rename('Number Unique Vals').to_frame()
         .style.format("{:,d}")))
display((elt.assign(PERSPVALUEn=lambda df: df['PERSPVALUE'] / df['EXPVALUE'])[['PERSPVALUE', 'PERSPVALUEn']].describe()
         .drop('count')
        #  .rename('PERSPVALUE Stats').to_frame()
         .style.format({'PERSPVALUE': "{:,.1f}", 'PERSPVALUEn': "{:.4%}"})))

58,073 rows

   EVENTID    PERSPVALUE       STDDEVI       STDDEVC      EXPVALUE
0  1510001  5.770734e+06  2.902632e+06  4.148461e+06  3.069843e+11
1  1510002  6.039176e+06  2.534347e+06  5.911018e+06  3.564537e+11
2  1510003  9.982610e+06  3.420254e+06  4.608285e+06  1.355446e+11
3  1510004  1.183806e+07  3.933989e+06  2.714816e+07  3.156007e+12
4  1510005  2.022620e+07  3.556903e+06  1.531474e+07  4.028784e+11

In [19]:
## PELT Summary
pelt = pd.read_feather(filename_pelt)
print(f"{len(pelt):,.0f} rows")
display(pelt.head())

display((pelt.count().rename('Number Valid Entries').to_frame()
         .style.format("{:,d}")))
display((pelt[['PeriodIndex', 'EventId', 'RepNum']].nunique()
         .rename('Number Unique Vals').to_frame()
         .style.format("{:,d}")))       
display((pelt.assign(Loss_n=lambda df: df['Loss'] / df['MaxExposure'])[['Loss', 'Loss_n']].describe()
         .drop('count')
         .style.format({'Loss': "{:,.1f}", 'Loss_n': "{:.4%}"})))

6,483,341 rows

   PeriodIndex  EventId  RepNum      EventDate   MaxExposure          Loss
0            1  1510027       1  1358758641000  1.223492e+11  4.953518e+06
1            1  1541120       1  1360522958000  9.272194e+07  1.042802e-01
2            1  1513277       1  1361610720000  4.193678e+10  4.786598e+06
3            1  1544878       1  1362665126000  1.795681e+09  2.633925e+00
4            1  1534387       1  1362873602000  2.678104e+11  2.411029e+07